#tags-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: var(--space-medium) var(--space-small);
  background-color: var(--background-color);
}

.modal {
  padding: var(--space-medium);
}

.close-button {
  background-color: transparent;
  color: var(--highligth-tertiary-color);
  border: none;
  font-size: var(--font-size-2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-large);
}

.list {
  display: flex;
  gap: var(--space-small);
  flex-wrap: wrap;
}

.list a {
  color: var(--secondary-color);
}