---
import PageLayout from "../../layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";

const postList = await getCollection("blog");
const blogPostList = postList.filter((post) => !post.data.draft);
---

<PageLayout title="Blog">
  <h1>Blog</h1>
  <div>
    {
      blogPostList
        .sort(
          (a, b) => b.data.updateDate.getTime() - a.data.updateDate.getTime()
        )
        .map((post) => {
          const { title, description, updateDate } = post.data;
          return (
            <PostCard
              title={title}
              date={updateDate}
              description={description}
              slug={post.slug}
            />
          );
        })
    }
  </div>
</PageLayout>
