a[data-external]::after {
  display: inline-block;
  margin-left: var(--space-extra-small);
  content: url('../../public/assets/box-arrow-up-left.svg');
  transform: rotate(90deg) translateY(0.1em);
  transition: all 0.1s;
}

body {
  background-color: var(--background-color);
  color: var(--primary-font-color);
}