body {
  background-color: var(--background-color);
  color: var(--primary-font-color);
  min-height: 100vh;
}

.container {
  padding-inline: var(--space-medium);
}

@media (min-width: 600px){
  .container {
    padding-inline: var(--space-extra-large);
  }
}

@media (min-width: 900px){
  .container {
    max-width: 85vw; 
    margin-inline: auto;
    width: min(90vw, 85rem);
  }

}

a[data-external] {
  color: var(--highligth-color);
}

a[data-external]::after {
  display: inline-block;
  margin-left: var(--space-extra-small);
  content: url('/assets/box-arrow-up-left.svg');
  transform: rotate(90deg) translateY(0.1em);
  transition: all 0.1s;
}

a {
  color: var(--highligth-color);
  font-style: italic;
}

