h1 {
  font-family: var(--title-font);
  font-size: var(--font-size-0);
  font-weight: lighter;
}

h2 {
  font-size: var(--font-size-1);
  font-family: var(--text-font);
  font-weight: lighter;
}

h3 {
  font-size: var(--font-size-2);
  font-family: var(--text-font);
  font-weight: lighter;
}

h4 {
  font-size: var(--font-size-2);
  font-family: var(--text-font);
  font-weight: 500;
  text-decoration: underline solid var(--accent-color);
}

p, span {
  font-size: var(--font-size-3);
  font-family: var(--text-font);
  font-weight: 300;
  line-height: 2em;
}

time {
  font-size: var(--font-size-4);
  font-family: var(--text-font);
  font-weight: bold;
  font-style: italic;
}
li {
 
  font-family: var(--text-font);
}

a {
  font-size: var(--font-size-3);
  color: var(--accent-color-dark);
  font-family: var(--text-font);
}

