---
import NavigationItem from "./NavigationItem.astro";
import { TagButton } from "./tag-button/TagButton.tsx";

const { pathname } = Astro.url;

const currentUrl = pathname.replace(/\/$/, "");
const isTagsActive = currentUrl === "tags" || currentUrl.startsWith("/tags");

const navigationItems = [
  { label: "Home", href: "/" },
  { label: "About", href: "/about/" },
  { label: "Work", href: "/work/" },
];
---

<nav class="nav-items">
  {
    navigationItems.map((item) => {
      return <NavigationItem label={item.label} href={item.href} />;
    })
  }
  <TagButton isActive={isTagsActive} client:visible />
</nav>

<style scoped>
  .nav-items {
    padding: var(--space-medium) 0;
    display: flex;
    gap: var(--space-small);
  }
</style>
