---
const { label, href } = Astro.props;
const { pathname } = Astro.url;

const isBlogRoute = pathname.startsWith("/blog")
const isHome = href === "/"
const isActive = href === pathname || isBlogRoute && isHome
---
<a class:list={[{active: isActive}, "link"]} href={href}>
  {label}
</a>

<style scoped>
   a {
    font-size: var(--font-size-3);
    font-style: initial;
  }
  .active {
    border-bottom: 2px solid var(--highligth-tertiary-color);
    font-weight: bold;
  }
</style>
