---
import { getTags } from "../../helpers/get-tags";
const tags = await getTags();

const tagsElement = tags.map((tag) => ({ label: tag, url: `/tags/${tag}` }));
---

<div id="tags-modal">
  <div class="modal">
    <header class="modal-header">
      <h2>tags</h2>
      <button class="close-button">X</button>
    </header>
    <ul>
      {
        tagsElement.map((tag) => {
          const { label, url } = tag;

          return (
            <li>
              <a href={url}># {label}</a>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>
<style scoped>
  #tags-modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: var(--space-medium) var(--space-small);
    background-color: var(--background-color);
  }

  .modal {
    padding: var(--space-medium);
  }

  .close-button {
    background-color: transparent;
    color: var(--highligth-tertiary-color);
    border: none;
    font-size: var(--font-size-2);
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-large);
  }

  ul {
    display: flex;
    gap: var(--space-small);
    flex-wrap: wrap;
  }

  ul a {
    color: var(--secondary-color)
  }
</style>
