---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="About">
  <div class="about">
    <img src="./assets/profile.jpg" alt="my profile" />
    <div>
      <p>
        I am a frontend developer. In my previous life, I worked as a
        psychologist and a support worker in social services and education
        settings.
      </p>

      <p>
        This is my personal digital garden and all opinions shared here are my
        own and do not represent the company where I currently work.
      </p>

      <p>
        Here, I write technical content to consolidate my understanding of
        things, but I also write about things that make me happy, such as
        skating, surfing, music, food, and places.
      </p>
    </div>
  </div>
</PageLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
  @media (min-width: 840px) {
    .about {
      flex-direction: row;
      align-items: initial;
    }
  }

  img {
    border-radius: 50%;
    width: 12em;
    height: 12em;
  }
</style>
