---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="About">
  <div>
    <img src="./assets/profile.jpg" alt="my profile" />
    <section>
      <h2>About Me</h2>
      <p>I am a frontend developer.</p>
      <p>
        I was born in Portugal, lived in London and now I live in the beautiful
        city of Barcelona.
      </p>
      <p>
        I studied psychology, worked for more than 5 years in the Portuguese
        child protection system, then moved to London where I worked in Adoption
        services and school support.
      </p>
      <p>
        After moving to Barcelona with my family I decided to do a U turn in my
        career and started learning Web Development. I started as a self-taught
        web-developer and I have learnt HMTL, CSS, Javascript, Node.js, Express,
        React and built along the way some fun projects.
      </p>
      <p>
        I just completed a FullStack Bootcamp from <a
          href="http://www.factoriaf5.org/">FactoriaF5</a
        > where I expanded my stack and learn how to apply agile methodologies and
        work with a team.
      </p>
    </section>
    <section>
      <h2>Where did I learn from?</h2>
      <p>
        During my journey I stumble into amazing communities that made my all my
        learning easier and exciting. These communities were ready to support me
        with no questions asked. I am so grateful to all the people involved in:
      </p>

      <h4>Communities:</h4>
      <ul>
        <li>
          <h3>
            <a href="https://virtualcoffee.io/">Virtual Coffee</a>
          </h3>
          <p>
            An amazing Community that supports developers at all levels. I've
            learn so much just by talking to people, attending the events,
            listening to the podcasts. Virtual Coffee gave me this trully sense
            of being part of a community.
          </p>
        </li>
        <li>
          <h3>
            <a href="https://codebar.io/barcelona">CodeBar</a>
          </h3>
          <p>
            A community that provides a safe space for minority group members to
            learn programming.
          </p>
        </li>
      </ul>
    </section>
  </div>
</PageLayout>
