---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="About">
  <section class="about">
    <p>
      I'm a front-end developer by trade, but life has taken me on quite the
      journey. In a past life, I found myself immersed in the fields of
      psychology, social services, and education where I worked as a
      psychologist and a support worker. Talk about diverse experiences!
    </p>
    <p>
      Here in my garden, I have the freedom to express myself and share my
      thoughts. It's important to note that everything I write here is purely my
      own opinion and doesn't reflect the views of the company I currently work
      for. This is a place where I can consolidate my understanding of all
      things technical through my content.
    </p>
    <p>But don't think it's all serious coding and programming talk!</p>
    <p>
      I believe in finding joy in the little things, so you'll also find me
      writing about the things that bring a smile to my face. From the thrill of
      skateboarding and surfing to the soul-stirring power of music and books,
      and even maybe some explorations on food and places. Ocassionally you
      might also find some introspections notes about life, work and the world
      around me.
    </p>
    <p>
      It's a mix of the technical and the personal, because life is all about
      balance, right?
    </p>
  </section>
</PageLayout>

<style>
  p {
    margin-block-end: var(--space-small);
  }
</style>
