---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="About">
  <h2 class="header">Yellow Friends 👋</h2>
  <section class="content">
    <p>
      If you want to know more my career, you can find it <a href="/work/"
        >here</a>
    </p>
    <p>
      I'm Vanessa, and you've just stepped into my digital garden, a cozy corner
      of the web where I sow seeds of thoughts, nurture my learnings, and
      showcase my pet projects🐈.
    </p>
    <p>
      Here I have the freedom to express myself - It's important to note that
      everything I write here is purely my own opinion and doesn't reflect the
      views of the company I currently work for. This is a place where I can
      consolidate my understanding of all learnings, and also where I share some
      reflections on my experiences as a web developer.
    </p>
    <p>But don't think it's all serious coding and programming talk!</p>
    <p>
      I believe in finding joy in the little things, so you'll also find me
      writing about the things that bring a smile to my face. From the sports I
      love - skateboarding, surfing, tennis - to books,food and places and other
      pleasure of life. Ocassionally you might also find some introspections
      notes about life, work and the world around me.
    </p>
    <p>
      It's a delightful blend of the technical and the personal because, let's
      face it, life is all about finding that sweet spot of balance.
      <img src="/assets/skate.jpg" />
    </p>
  </section>

  <style scoped>
    .header {
      padding-top: var(--space-extra-large);
      margin-bottom: var(--space-extra-large);
    }

    @media (min-width: 950px) {
      .header {
        padding-top: var(--space-xxl);
      }
    }

    p {
      margin-block-end: var(--space-small);
    }
  </style>
</PageLayout>
