---
import { getCollection } from "astro:content";
import GlossaryItem from "../components/GlossaryItem.astro";
import PageLayout from "../layouts/PageLayout.astro";

const glossaryItems = await getCollection("glossary");
---

<PageLayout title="My Glossary">
  <section>
    <p>Here you will find my personal Glossary:</p>
    <p>
      My personal explainations of terms that you will find through out this
      website.
    </p>
    <p>
      As I try to use my own words to explain the terms, you should note that is
      not a static glossary. It will change as my knowledge and understanding of
      the terms change.
    </p>
  </section>
  <ul class="list">
    {
      glossaryItems
        .sort((a, b) => b.data.term - a.data.term)
        .map((item) => (
          <>
            <GlossaryItem item={item} />
          </>
        ))
    }
  </ul>
</PageLayout>
<style scoped>
  .list {
    margin-block-start: var(--space-extra-large);
    list-style: none;
  }
</style>
