---
import PageLayout from "../layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import PostCard from "../components/PostCard.astro";

const postList = await getCollection("blog");
const blogPostList = postList.filter((post) => !post.data.draft);
---

<PageLayout title="Blog">
  <div>
    {
      blogPostList
        .sort(
          (a, b) => b.data.updateDate.getTime() - a.data.updateDate.getTime()
        )
        .map((post) => {
          const { title, description, updateDate } = post.data;
          return (
            <>
              <hr class="horizontal-line" />
              <PostCard
                title={title}
                date={updateDate}
                description={description}
                slug={post.slug}
              />
            </>
          );
        })
    }
  </div>
</PageLayout>
<style scoped>
  .horizontal-line {
    height: 2px;
    background-color: var(--highlight-color);
    border: none;
    margin-block-end: 40px;
  }
</style>
