---
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";
import PageLayout from "../layouts/PageLayout.astro";

const projects = await getCollection("projects");
---

<PageLayout title="Projects">
  <h1>Projects</h1>
  <section>
    {projects.map((project) => <ProjectCard project={project} />)}
  </section>
</PageLayout>
