---
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";
import PageLayout from "../layouts/PageLayout.astro";

const projects = await getCollection("projects");
---

<PageLayout title="Projects">
  <h2>Projects</h2>
  <section>
    {
      projects
        .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
        .map((project) => (
          <>
            <ProjectCard project={project} />
          </>
        ))
    }
  </section>
</PageLayout>
