---
import type { CollectionEntry } from "astro:content";
import HorizontalLine from "./horizontalLine.astro";
interface Props {
  item: CollectionEntry<"glossary">;
}

const { item } = Astro.props;
const { Content } = await item.render();
const title = item.data.term.replaceAll("-", " ");
---

<li class="item">
  <h2 id={item.data.term} class="title"># {title}</h2>
  <div class="content">
    <Content />
  </div>
</li>
<style scoped>
  .title {
    margin-block-end: var(--space-extra-small);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--base-color-grey);
  }
  .content {
    margin-block-end: var(--space-medium);
  }
</style>
