---
import Navigation from "./Navigation.astro";
---

<header class="header container">
  <div class="title">
    <h1>LollyPoppe</h1>
    <img src="/assets/rainbow.svg">
  </div>
  <Navigation />
</header>
<style scoped>
  .header {
    padding-top: var(--space-medium);
    padding-bottom: var(--space-medium);
    @media (min-width: 900px) {
      display: flex;
      justify-content: space-between;
    }
  }

  .title{
    display: flex;
    gap: var(--space-small);
  }
</style>
