---
import Navigation from "./Navigation.astro";
---

<header class="container">
  <h1>LollyPoppe</h1>
  <Navigation />
</header>
<style scoped>
  .container {
  @media (min-width: 600px) {
    display: flex;
    justify-content: space-between;
  }
  }
</style>
