<div class="markdown">
  <slot />
</div>
<style is:global>
  .markdown p {
    margin-bottom: var(--space-large);
    line-height: 2em;
  }

  .markdown a {
    color: var(--highligth-color);
  }

  .markdown ul {
    margin-left: var(--space-small);
    margin-bottom: var(--space-large);
    line-height: 2em;
    font-size: var(--font-size-3);
    list-style-image: url('/assets/sun.svg');
  }
  .markdown code {
    padding: 4px;
    font-size: 0.9em;
    border-radius: 2px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #faf4ed;
    color: #575279;
  }

</style>
