<div class="markdown">
  <slot />
</div>
<style is:global>
  .markdown p {
    margin-bottom: var(--space-large);
    line-height: 2em;
  }

  .markdown a {
    color: var(--highligth-color);
  }

  .markdown ul {
    margin-left: var(--space-small);
    margin-bottom: var(--space-large);
    line-height: 2em;
    font-size: var(--font-size-3);
    list-style-image: url('../../public/assets/sun.svg');
  }

</style>
