<ul class="links container">
  <li>Github</li>
  <li>email</li>
  <li>linkedin</li>
</ul>

<style scoped>

  .links{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: var(--space-medium);
    padding-bottom: var(--space-medium);
  }
</style>