---
const { tags } = Astro.props;
---

<ul class="tags">
  {tags.map((tag: string) => <li class="tag">{tag}</li>)}
</ul>
<style scoped>
  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--space-medium);
    margin-inline-start: var(--space-extra-small);
    padding-left: 5px;
    list-style: none;
  }

  .tag {
    position: relative;
    font-size: var(--font-size-3);
  }

  .tag:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: calc(-1 * var(--space-extra-small));
    z-index: -1;
    height: 80%;
    width: 100%;
    background-color: var(--highlight-color);
  }
</style>
