---
import { getRandomColor } from "../../helpers/colorGenerator";

const { tag } = Astro.props;
---

<li class="tag">
  <a href={tag.url}>
    <span style={{ color: `${getRandomColor()}` }}> # </span>
    {tag.label}
  </a>
</li>
