---
import type { CollectionEntry } from "astro:content";
import BlogLayout from "./BlogLayout.astro";
import Markdown from "../components/MarkdownComponent.astro";
import TagList from "../components/blog/TagList.astro";

type Props = CollectionEntry<"blog">["data"];
const { title, updateDate, tags } = Astro.props;

const postDate = updateDate.toLocaleDateString("en-uk", {
  day: "numeric",
  month: "long",
  year: "numeric",
});
---

<BlogLayout>
  <article>
    <header>
      <h2>{title}</h2>
      <time>
        {postDate}
      </time>
    </header>
    <TagList tags={tags} />
    <div class="content">
      <Markdown>
        <slot />
      </Markdown>
    </div>
  </article>
</BlogLayout>

<style scoped>
  header {
    margin-bottom: var(--space-large);
  }
  h2 {
    margin-bottom: var(--space-extra-small);
  }

  time {
    color: var(--highligth-color);
  }

  .content {
    padding-top: var(--space-extra-large);
  }
</style>
