---
import PageLayout from "../layouts/PageLayout.astro";
import BlogSideBar from "../components/BlogSideBar.astro";

const { title } = Astro.props;
---

<PageLayout title={title}>
  <h2 class="header">Hey there! Welcome to my digital garden 🌱</h2>
  <div class="page-container">
    <div>
      <slot/>
    </div>
    <BlogSideBar />
  </div>
</PageLayout>
<style scoped>
  .header {
    margin-bottom: var(--space-extra-large);
    font-style: italic;
  }
  @media (min-width: 1200px){
    .header {
      padding-top: var(--space-extra-large);
      margin-bottom: var(--space-xxl)
    }
    .page-container {
      display: grid;
      grid-template-columns: 800px 300px;
      justify-content: space-between;
    
  }

  }
</style>
