---
import type { CollectionEntry } from "astro:content";
import PageLayout from "./PageLayout.astro";
import HorizontalLine from "../components/horizontal-line.astro";
type Props = CollectionEntry<"blog">["data"];
const { title, updateDate } = Astro.props;

const postDate = updateDate.toLocaleDateString("en-uk", {
  day: "numeric",
  month: "long",
  year: "numeric",
});
---

<PageLayout>
  <article>
    <header class="post-header">
      <h1 class="title">{title}</h1>
      <HorizontalLine />
      <time>
        {postDate}
      </time>
    </header>
    <slot />
  </article>
</PageLayout>
<style scoped>
  .post-header {
    margin-block-end: 24px;
  }
</style>
