---
import Header from "../components/Header.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Web developer. This is my website, here
    you can learn more about me, see my portfolio and my work"
    />
    <meta
      name="keywords"
      content="personal, portfolio, web development, work"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500&family=Montserrat:wght@200;300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
