---
import "../styles/variables.css";
import "../styles/reset.css";
import "../styles/typography.css";
import "../styles/global.css";
import Header from "../components/Header.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/png"
      href="https://media-vanessapoppe-me.s3-eu-west-1.amazonaws.com/images/favicon-16x16.png"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Web developer. This is my website, here
    you can learn more about me, see my portfolio and my work"
    />
    <meta
      name="keywords"
      content="personal, portfolio, web development, work"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500&family=Montserrat:wght@200;300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="layout">
      <Header />
      <main class="main container">
        <slot />
      </main>
    </div>
  </body>
</html>

<style is:global>
  .layout {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
  }
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .main {
    padding-top: 60px;
    margin-bottom: 80px;
    max-width: 80em;
  }
</style>
