---
import "../styles/variables.css";
import "../styles/reset.css";
import "../styles/typography.css";
import "../styles/global.css";
import Header from "../components/Header.astro";
import '@fontsource-variable/montserrat';
import '@fontsource/ibm-plex-mono'
import PageFooter from "../components/PageFooter.astro";
import Stripes from "../components/Stripes.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/png"
      href="https://media-vanessapoppe-me.s3-eu-west-1.amazonaws.com/images/favicon-16x16.png"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Web developer. This is my website, here
    you can learn more about me, see my portfolio and my work"
    />
    <meta
      name="keywords"
      content="personal, portfolio, web development, work"
    />
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500&family=Montserrat:wght@200;300;400;600&display=swap"
      rel="preload"
    /> -->
  </head>
  <body>
    <div class="layout">
      <Header />
      <main class="main container">
        <slot />
      </main>
      <footer>
        <Stripes />
        <PageFooter />
      </footer>
    </div>
  </body>
</html>

<style is:global>
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main {
  flex-grow: 1;
}

 
</style>
