---
import "../styles/variables.css";
import "../styles/reset.css";
import "../styles/typography.css";
import "../styles/global.css";
import Header from "../components/Header.astro";
import '@fontsource-variable/montserrat';
import '@fontsource/ibm-plex-mono'
import PageFooter from "../components/PageFooter.astro";
import Stripes from "../components/Stripes.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/png"
      href="https://media-vanessapoppe-me.s3-eu-west-1.amazonaws.com/images/favicon-16x16.png"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Web developer. This is my personal blog, here will learn about me, my work and my projects."
    />
    <meta
      name="keywords"
      content="personal, web development, work"
    />
  </head>
  <body>
    <div class="layout">
      <Header />
      <main class="main container">
        <slot />
      </main>
      <footer class="page-footer">
        <Stripes />
        <PageFooter />
      </footer>
    </div>
  </body>
</html>

<style is:global>
.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main {
  flex-grow: 1;
  margin-bottom: var(--space-xxl);
}

</style>
